h1 {
    color: skyblue;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 5;
    text-align: center;
    background-color: lightsalmon
}

p {
    color: skyblue;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    background-color: deeppink
}

textarea {
    margin: 20px;
    width: 75px;
    height: 150px;
    background-color: darkslateblue
}

ul, ol {
    margin: 20px;
    padding: 0;
    color: aquamarine;
    background-color: black 
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:10px;
    margin:10px
}